SECRET_KEY="some_random_secret_string" # Used for JWT signing and other security-related functions
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend2" # PostgreSQL connection string
SERVER_PORT=3000 # Port on which the JetLag server will run

ADMIN_USERNAME="admin01" # Admin username (min 5 chars)
ADMIN_PASSWORD="admin01" # Admin password (min 5 chars)

START_SERVER_LEAD_TIME_MIN=10 # How many minutes before the game starts should the game server be started

CORDS_STALE_INTERVAL_S=60 # How often coords are considered stale in seconds